.label-senha-list{
  padding: 0 0 0 1rem;
  font-size: 0.8rem;
  color: var(--gray);
}
.fim {
  --background: red;
  --color: white; // Deixa o texto branco para ter contraste
}
.proxima {
  --background: rgb(8, 215, 46);
  --color: white; // Deixa o texto branco para ter contraste
}
.aten{
  --color: white;
}
